@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&display=swap');

@font-face{
    font-family: 'Lato';
    src: url(./Lato/Lato-Thin_1.woff), url(./Lato/Lato-Regular_1.woff), url(./Lato/Lato-Italic_1.woff), url(./Lato/Lato-Bold.woff);
}

body{
    width: 1160px;    
}

header{
    background-color: #782221;
    width: 1160px;
    margin-left: 15%;
    margin-top: 0%;
    margin-bottom: 0%;
}

figure{
    width: 150px;
    height: 150px;
}

img{
    width: 70%;
    height: 70%;
    margin-top: 30px;
    margin-left: 500px;
    border-radius: 50%;
    box-shadow: 0 0 15px #dbc2a4;
    cursor: zoom-in;
}

h1{
    font-family: 'lato', sans-serif;
    src: url(./Lato/Lato-Thin_1.woff);
    color: white;
    margin-left: 490px;
}

h2{
    font-family: 'lato', sans-serif;
    src: url(./Lato/Lato-Thin_1.woff);
    font-size: small;
    color: white;
    margin-left: 525px;
    padding-bottom: 20px;
}

h3{
    font-family: 'lato', sans-serif;
    src: url(./Lato/Lato-Bold.woff);
    color: #2c1d27;
    background-color: #dbc2a4;
    border-left: 5px solid;
    border-left-color: #782221;
}

nav{
    background-color: #2c1d27;
    margin-left: 15%;
    width: 1160px;
    font-family: 'lato',sans-serif;
    src: url(./Lato/Lato-Italic_1.woff);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


aside{
    background-color: #782221;
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    width: 386px;
}

section{
    background-color: white;
    width: 780px;
    justify-content: right ;
}

h4{
    font-family: 'lato', sans-serif;
    src: url(./Lato/Lato-Bold.woff);
    color: #2c1d27;
}

p{
    font-family: 'Raleway', sans-serif;
    src: local(Raleway);
}

footer{
    background-color: #782221;
    height: 100px;
}

.img_Linkedin{

}









