@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&display=swap');

@font-face{
    font-family: 'Lato';
    src: url(./Lato/Lato-Thin_1.woff), url(./Lato/Lato-Regular_1.woff), url(./Lato/Lato-Italic_1.woff), url(./Lato/Lato-Bold.woff);
}

body{
    width: 1160px;
    margin-left: 0.5em;
    justify-self: center;
}

header{
    background-color: #782221;
    font-family: 'Lato';
    color:white;
}

figure {
    width: 150px;
    height: 150px;
}

img {
    width: 70%;
    height: 70%;
    margin-top: 30px;
    margin-left: 520px;
    border-radius: 50%;
    box-shadow: 0 0 15px #dbc2a4;
    cursor: zoom-in;
}

h1{
    font-family: 'Lato';
    src: url(./Lato/Lato-Thin_1.woff);
    color: white;
    margin-left: 500px;
    justify-content: center;
}

h3{
    font-family: 'Lato';
    src: url(./Lato/Lato-Thin_1.woff);
    font-size: small;
    color: white;
    margin-left: 525px;
    padding-bottom: 20px;
    justify-content: center;
    align-content: center;
    
}




